<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LeantusClinicas.Properties.Settings.LeantusClinicasConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\LeantusClinicas.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="LeantusClinicas.Properties.Settings.LeantusClinicasConnectionStringAc"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\LeantusClinicas.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>